@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --color-background: rgb(18 18 18 / 25%);
  font-size: 16px;
}

#app {
  margin: 0;
  font-weight: normal;
  width: 100%;
  height: 100%;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scrollbar::-webkit-scrollbar {
  background: transparent;
  width: 7px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #ffffffa0;
  border-radius: 10px;
  cursor: grab;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}
